{% extends "@BootstrapFourBundle/fields.html.twig" %}

{# For some reason the lone checkbox is not wrapped by default #}
{% block _geo_row %}
  {{ block("form_row") }}
{% endblock %}

{% block _geo_widget %}
  <div class="d-none d-lg-block">
    <div class="custom-control custom-checkbox">
      <input {{ block("widget_attributes") }} type="checkbox" class="custom-control-input" {% if value is defined %}value="{{ value }}"{% endif %} {% if checked %}checked{% endif %} data-toggle-location/>
      <label class="custom-control-label" for="{{ id }}">{{ label|trans }}</label>
    </div>
  </div>

  <div class="switch d-block d-lg-none" data-widget-switch data-input="#{{ id }}">
    {# <input {{ block("widget_attributes") }} type="checkbox" value="{{ value }}" {% if checked %}checked{% endif %}/> #}
    <span class="switch-groove"></span>
    <span class="switch-handle"></span>
    <span class="switch-label">GPS</span>
  </div>
{% endblock %}

{# For some reason the lone checkbox is not wrapped by default #}
{% block _open_row %}
  {{ block("form_row") }}
{% endblock %}

{% block _distance_widget %}
  {{ block("range_widget") }}
  <span>{{ attr.min }} km</span>
  <span class="pull-right">{{ attr.max }} km</span>
{% endblock %}

{% block _submit_row %}
  <div class="form-group col-md-12">
    {{ form_widget(form, {attr: {class: "btn btn-primary"}}) }}
  </div>
{% endblock %}
