{% extends "base.html.twig" %}

{% if page_identifier is not defined %}
  {% set page_identifier = "index" %}
{% endif %}

{% if page_title is not defined %}
  {% set page_title = "Alphabetical index"|trans %}
{% endif %}

{% block main %}
  <main class="container main content">
    <h1>{% trans %}Index{% endtrans %}: {% trans %}Services{% endtrans %}</h1>
    {% for letter, items in services %}
      <section class="row">
        <div class="col">
          <h2 id="{{ letter }}">{{ letter|trans }}</h2>
        </div>
        <ul class="col-12 cols">
          {% for service in items %}
            <li class="index-item">
              <a href="{{ path('service.show', {type: service.type, slug: service.slug}) }}">{{ service.name }}</a>
              <sup>{{ service.type }}</sup>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </main>
{% endblock %}
