{#
  NOTE: This template is also used client-side, hence the following restrictions apply:
  - Only use "foo"|trans and not the {% trans %} tag.

#}
<li class="item library-card">
  <div class="photo">
    <div class="photo-frame">
      {% if library.pictures is not empty %}
        <img src="{{ library.pictures[0].files.small }}" alt=""/>
      {% endif %}
    </div>
  </div>
  <div class="contact">
    <a class="item-title" href="{{ path('library.show', {city: library.city.slug, slug: library.slug}) }}">{{ library.name }}</a>
    <div class="item-location">
      <div class="item--data">
        <small class="text-uppercase">
        {{ library.address.city }}
        {% if library.address.area %}
          ({{ library.address.area }})
        {% endif %}
        </small>
        <span class="d-block">
          {{ library.address.street }}
        </span>
      </div>
    </div>
  </div>
  <div class="item-schedules">
    {% if library.schedules is not empty %}
      {% if library.schedules[0].status == 1 %}
        <span class="time-open">{{ "status.open"|trans }}</span>
      {% elseif library.schedules[0].status == 2 %}
        <span class="time-self-service">{{ "status.self_service"|trans }}</span>
      {% else %}
        <span class="time-closed">{{ "status.closed"|trans }}</span>
      {% endif %}
      <div class="item--data">
        <span>{{ library.schedules|statusDescription }}</span>
      </div>
    {% endif %}
    {% if library.distance %}
      <button type="button" class="btn btn-link" data-map-open data-map-pos="{{ library.address.coordinates|join(",") }}">{{ library.distance|number_format(1) }} km</button>
    {% elseif library.address.coordinates %}
      <button type="button" class="btn btn-link" data-map-open data-map-pos="{{ library.address.coordinates|join(",") }}">{{ "map"|trans }}</button>
    {% endif %}
  </div>
</li>
