<section class="photo-gallery gallery-box">
  <h3 class="sr-only">{{ "Photos"|trans }} ({{ library.pictures|length }})</h3>

  {% if library.pictures|length %}
    <figure class="photo">
      <img src="{{ library.pictures[0].files.medium }}" class="img-fluid img-rounded" alt="{{ library.name }}"/>
      {% if library.pictures[0].description %}
        <figcaption>{{ library.pictures[0].description }}</figcaption>
      {% endif %}
    </figure>
  {% endif %}

  <button type="button" class="launch-gallery" aria-label="{{ 'Open gallery'|trans }}" data-gallery>
    {% if library.pictures|length == 1 %}
      {% trans %}1 photo{% endtrans %}
    {% else %}
      {{ "%d photos"|trans|format(library.pictures|length) }}
    {% endif %}
    <i class="fa fa-window-maximize" aria-hidden="true"></i>
  </button>
</section>
