{% extends "base.html.twig" %}

{% block main %}
  <div id="page-staff-index">
    <nav class="nav-alphabets sidebar sidebar-float-right bg-inverse">
      {% for letter in items|keys %}
        <a class="nav-item nav-link" href="#{{ letter }}" title="{{ 'Scroll to letter \"%s\"'|format(letter)}}">{{ letter }}</a>
      {% endfor %}
    </nav>
    <main class="container index-content">
      <h1>{% trans %}Index{% endtrans %}: {% trans %}Staff{% endtrans %}</h1>
      {% for letter, persons in items %}
        <section class="row">
          <div class="col-12">
            <h2 id="{{ letter }}">{{ letter }}</h2>
          </div>
          <ul class="col-12 cols">
            {% for batch in persons|batch(4) %}
              {% for person in batch %}
                <li>
                  <a href="#foo">{{ person.lastName }}, {{ person.firstName }}</a>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </section>
      {% endfor %}
    </main>
  </div>
{% endblock %}
