{% extends "base.html.twig" %}

{% if page_identifier is not defined %}
  {% set page_identifier = "search" %}
{% endif %}

{% form_theme search_form "form/frontpage_sidebar.html.twig" %}

{% block _library_quick_search_go_widget %}
  <button type="submit" class="btn btn-lg btn-primary">
    <i class="fa fa-search"></i>
  </button>
{% endblock %}

{% block main %}

<main class="main">
  {{ form_start(search_form, {"attr": {
    "id": "the-search-form",
    "data-app": "library-search",
    "data-results-target": "#library-search-results",
    "class": "container"
  }}) }}

    <div class="row">
      <div class="col-lg-9 col-xl-8 quick-search">
        <h1 class="sr-only">{% trans %}Find your library{% endtrans %}</h1>

        <div class="form-group input-group">
          {{ form_widget(search_form.q, {"attr": {
            "class": "form-control form-control-lg",
            "placeholder": "Search by name or municipality"|trans,
          }}) }}

          <div class="input-group-btn">
            <div class="loader d-none" id="form-input-throbber" aria-hidden="true">{% trans %}Loading...{% endtrans %}</div>
            <button type="submit" class="btn btn-lg btn-primary" aria-label="{{ 'Search'|trans }}">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row content-wrap">
      <div class="col-lg-3 order-lg-3 col-xl-4 sidebar">
        <div id="l-search-filters">
          <h2 class="d-none d-lg-block pt-4 pb-2">{% trans %}Advanced search{% endtrans %}</h2>
          {% include 'Library/partial/sidebar_search.html.twig' %}
        </div>
      </div>
      <div class="col-lg-9 order-lg-2 col-xl-8 content">
          <ol class="search-results list-unstyled mb-0" id="library-search-results" data-search-results data-library-search>
            <li class="d-none"><!-- Placeholder for validator. --></li>
          </ol>
          <div class="pager text-center">
            <a href="{{ path('search') }}" role="button" data-load-more data-next-page="{{ app.request.get('page') + 1 }}" class="btn-lg font-weight-semibold d-inline-block position-relative">
              {% trans %}Load more results{% endtrans %}
            </a>
            <div class="loader d-none" id="form-throbber">{% trans %}Loading...{% endtrans %}</div>
          </div>
      </div>
    </div>
  {{ form_end(search_form, {render_rest: false}) }}
</main>
{% endblock %}

{% block scripts %}
  <script type="text/x-twig" id="twig-library-card">
    {{- template("Library/partial/card.html.twig") -}}
  </script>

  {{ parent() }}
{% endblock %}
