{% extends "base.html.twig" %}

{% if page_identifier is not defined %}
  {% set page_identifier = "library-details" %}
{% endif %}

{% if page_title is not defined %}
  {% set page_title = library.name %}
{% endif %}

{% block meta_description %}
  {% if library.slogan %}
    <meta name="description" content="{{ library.slogan }}"/>
  {% endif %}
{% endblock %}

{% block fb_meta %}
  {% if library.pictures|length %}
    <meta property="og:image" content="{{ library.pictures[0].files.large }}"/>

    {% if library.pictures[0].name %}
      <meta property="og:image:alt" content="{{ library.pictures[0].name }}"/>
    {% endif %}

    {% if library.slogan %}
      <meta property="og:description" content="{{ library.slogan }}"/>
    {% elseif library.description %}
      <meta property="og:description" content="{{ library.description|striptags }}"/>
    {% else %}
      {{ block("fb_meta_description") }}
    {% endif %}
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block page_header %}
  {%- set links = [
    {
      href: path('library.show', {slug: library.slug, city: library.city.slug}),
      title: "Introduction"|trans
    },
    {
      href: path('library.contact', {slug: library.slug, city: library.city.slug}),
      title: "Contact"|trans
    },
    {
      href: path('library.services', {slug: library.slug, city: library.city.slug}),
      title: "Services"|trans,
      enabled: library.services|length > 0
    },
  ] %}

  <header>
    <h1>{{ library.name }}</h1>
    <nav class="nav nav-pills nav-library-page">
      {# {% set current = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %} #}
      {# Map page requires also coordinates from url #}
      {% set current = app.request.requestUri|replace({",": "%2C"}) %}
      {% for link in links %}
        {% if link.enabled is not defined or link.enabled %}
          <a class="nav-item nav-link {% if current == link.href %}active{% endif %} {{ current }}" href="{{ link.href }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </header>
{% endblock %}

{% block breadcrumb %}
  <nav aria-label="{% trans %}Breadcrumb{% endtrans %}">
    <ol class="breadcrumb">
      {#
      <li class="breadcrumb-item">
        <a href="{{ path('front') }}">{% trans %}Frontpage{% endtrans %}</a>
      </li>
      #}
      <li class="breadcrumb-item">
        <a href="{{ path('search') }}">{% trans %}Search{% endtrans %}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ path('slug.redirect', {slug: library.city.slug}) }}">{{ library.city.name }}</a>
      </li>
    </ol>
  </nav>
{% endblock %}

{% block main %}
  <main class="container main content">
    {% block content %}
      <div class="row">
        <div class="col-lg-7 col-xl-8">
          <article>
            {{ block("page_header") }}
            <div>
              {% if library.slogan %}
                <blockquote class="blockquote library-slogan">{{ library.slogan }}</blockquote>
              {% endif %}

              {% if library.description %}
                <div class="details" id="introduction">
                  <a href="#introduction" class="details-toggle" data-toggle="details" role="button" aria-expanded="false" aria-controls="intro-content">{% trans %}Library introduction{% endtrans %}</a>
                  <div class="details-content" id="intro-content">
                    {% autoescape false %}{{ library.description }}{% endautoescape %}
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="details">
              <a href="#find-us" class="details-toggle" data-toggle="details" role="button" aria-expanded="false" aria-controls="find-us">{% trans %}How to find us{% endtrans %}</a>
              <div class="details-content" id="find-us">
                <section class="website-details">
                  <h2>{% trans %}Websites{% endtrans %}</h2>

                  <ul class="list-unstyled">
                    {% if library.consortium %}
                      <li>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <a href="{{ library.consortium.homepage }}" class="external-link">{{ "Library catalogue"|trans }}</a>
                        ({{ library.consortium.name }})
                      </li>
                    {% endif %}
                    {% if library.homepage %}
                      <li>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <a href="{{ library.homepage }}" class="external-link">{% trans %}Homepages{% endtrans %}</a>
                      </li>
                    {% endif %}
                    {% for link in library.links %}
                      {% if link.name not in ["Facebook", "Flickr", "Google+", "Instagram", "Pinterest", "Twitter", "Vimeo", "Youtube", "YouTube"] %}
                        <li class="list-circle">
                          <a href="{{ link.url }}" title="{{ link.description }}" class="external-link">{{ link.name }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>

                  <h2>{% trans %}Visit us!{% endtrans %}</h2>

                  <ul class="list-unstyled">
                    <li>
                      <i class="fa fa-map-o" aria-hidden="true"></i>
                      {{ library.address.street }}, {{ library.address.zipcode }} {{ library.address.city }}
                      {% if library.address.info %}
                        <small>({{ library.address.info }})</small>
                      {% endif %}
                    </li>
                    {% if library.email %}
                      <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ library.email }}</li>
                    {% endif %}
                    {% for number in library.phoneNumbers|slice(0, 1) %}
                      <li><i class="fa fa-phone" aria-hidden="true"></i> {{ number.number }}, <a href="{{ path('library.contact', {slug: library.slug, city: library.city.slug}) }}">{{ "all phone numbers"|trans }}</a></li>
                    {% endfor %}
                  </ul>
		  {#
                  <a href="{{ path('library.map', {slug: library.slug, city: library.city.slug, c: library.coordinates}) }}" class="btn btn-highlight">{% trans %}View map{% endtrans %}</a>
                  #}
                </section>
              </div>
            </div>

            {% if (library.transit.buses ~ library.transit.trams ~ library.transit.trains ~ library.transit.transit_directions ~ library.transit.parking_instructions)|trim is not empty %}
              <div class="details">
                <a href="#public-transport" class="details-toggle" data-toggle="details" role="button" aria-expanded="false" aria-controls="public-transport">{% trans %}Public transport{% endtrans %}</a>
                <div class="details-content" id="public-transport">
                  <section class="transit-details">
                    <table class="table table-sm">
                      <caption class="caption-heading">
                        <h3>{% trans %}Transportation connections{% endtrans %}</h3>
                      </caption>
                      <tbody>
                        {% if library.transit.buses %}
                          <tr>
                            <th scope="row">{{ "Buses"|trans }}</th>
                            <td>{{ library.transit.buses }}</td>
                          </tr>
                        {% endif %}
                        {% if library.transit.trams %}
                          <tr>
                            <th scope="row">{{ "Trams"|trans }}</th>
                            <td>{{ library.transit.trams }}</td>
                          </tr>
                        {% endif %}
                        {% if library.transit.trains %}
                          <tr>
                            <th scope="row">{{ "Trains"|trans }}</th>
                            <td>{{ library.transit.trains }}</td>
                          </tr>
                        {% endif %}
                      </tbody>
                      {% if library.transit.transit_directions %}
                        <tfoot>
                          <tr>
                            <td colspan="2">{{ library.transit.transit_directions }}</td>
                          </tr>
                        </tfoot>
                      {% endif %}
                    </table>

                    {% if library.transit.parking_instructions %}
                      <h3>{{ "Parking"|trans }}</h3>
                      <p>{{ library.transit.parking_instructions }}</p>
                    {% endif %}
                  </section>
                </div>
              </div>
            {% endif %}
          </article>

        </div><!-- col-lg-8 -->

        <div class="col-lg-5 col-xl-4 order-2 sidebar">
          {% if library.links is not empty %}
            {% include "Library/partial/some_links.html.twig" %}
          {% endif %}

          {% include "Library/partial/schedules_week.html.twig" %}

          {% if library.pictures is not empty %}
            {% include "Library/partial/photos.html.twig" %}
          {% endif %}
        </div><!-- col-lg-4 -->

      </div><!-- row -->

      <div class="row">
        <div class="col-lg-12">
          <section class="building-details">
            <h3 class="sr-only">{{ "Building information"|trans }}</h3>
            <dl>
              {% if library.extra.founded %}
                <dt>{{ "Established year"|trans }}</dt>
                <dd>{{ library.extra.founded }}</dd>
              {% endif %}
              {% if library.extra.building.building_name %}
                <dt>{{ "Building"|trans }}</dt>
                <dd>{{ library.extra.building.building_name }}</dd>
              {% endif %}
              {% if library.extra.building.construction_year %}
                <dt>{{ "Built"|trans }}</dt>
                <dd>{{ library.extra.building.construction_year }}</dd>
              {% endif %}
              {% if library.extra.building.building_architect %}
                <dt>{{ "Architect"|trans }}</dt>
                <dd>{{ library.extra.building.building_architect }}</dd>
              {% endif %}
              {% if library.extra.building.interior_designer %}
                <dt>{{ "Interior"|trans }}</dt>
                <dd>{{ library.extra.building.interior_designer }}</dd>
              {% endif %}
            </dl>
          </section>
        </div>
      </div><!-- row -->
    {% endblock %}
  </main>
{% endblock %}

{% block scripts %}
  <script type="application/ld+json" data-library="{{ library.id }}">
    {{ render(controller("App\\Controller\\JsonLdController::library", {id: library.id})) }}
  </script>

  <script type="text/x-twig" id="twig-gallery">
    {{- template("component/gallery.html.twig") -}}
  </script>

  {{ parent() }}
{% endblock %}
